h1 {
	font: bold x-large sans-serif;
}

p {
	font: medium "Lucida Grande", Lucida, Verdana, sans-serif;
}
	.green {
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		background-color: #BAF7B5;
	}
	.greengrey {
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		background-color: #BAF7B5;
	}
	.style1 {font-family: Arial, Helvetica, sans-serif;
	font-size: medium; font-weight: bold; }
	.style2 {font-size: small}

table {
	border-collapse:collapse;
	border: 1px solid #605b5b;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;

}

td {
	padding-left: 7px;
}
.orario-fermata-gridview-header {
	background-color: #ffd3ac;
	text-align: right;
	
	margin-right: 5px;
	font-weight: bold;
	padding-right: 3px;
}
	.grey {
		background-color: #CCCCCC; 
	}
	.red {
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		background-color: #FAA0A0;
	}
	.redgrey {
		font-family: Arial, Helvetica, sans-serif;
		font-size: medium;
		background-color: #FAA0A0;
	}
	a:link {
		color: #333333;
	}
	.style2 {font-size: small}
	a:visited {
		color: #333333;
	}
	a:hover {
		color: #333333;
	}
	a:active {
		color: #333333;
	}